<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.how_about_here">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.How_about_here.NoActionBar"
        >
        <activity
            android:name=".src.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.How_about_here.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao7ac7170e8621f04617fcd208ce7d9eb3" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.How_about_here.NoActionBar" />
        <activity android:name=".src.main.HomeCouponPopupActivity"/>
        <activity android:name=".src.main.my.JoinLoginActivity"/>
        <activity android:name=".src.main.my.JoinAgreeActivity"/>
        <activity android:name=".src.main.my.JoinFormActivity"/>
        <activity android:name=".src.main.my.JoinSuccessActivity"/>
        <activity android:name=".src.main.my.LoginEmailActivity"/>
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>